Labs/.idea/misc.xml
Labs/.idea/modules.xml
Labs/.idea/workspace.xml
Labs/Labs.iml
Labs/out/production/Labs/Expression.class
Labs/out/production/Labs/Launcher.class
Labs/out/production/Labs/NaiveSearcher.class
Labs/out/production/Labs/Tester.class
