Algorithms/.idea/misc.xml
Algorithms/.idea/modules.xml
Algorithms/.idea/workspace.xml
Algorithms/Algorithms.iml
Algorithms/out/production/Algorithms/Launcher.class
Algorithms/out/production/Algorithms/NaiveSearch.class
Algorithms/out/production/Algorithms/NaiveSearchTest.class
